@model CaloriesViewModel

<div class="text-center">
    <h1 class="display-4">Beräkna kalori innehåll</h1>
</div>

<form asp-controller="Home" asp-action="Calories" method="post">
  <div class="mb-3">
    <label for="inputFood" class="form-label">Matvara:</label>
    <input asp-for=Food type="text" class="form-control" id="inputFood">
  </div>
  <div class="mb-3">
    <label for="inputGram" class="form-label">Vikt:</label>
    <input asp-for=Gram type="text" class="form-control" id="inputGram">
  </div>
  <button type="submit" class="btn btn-primary">Beräkna</button>
</form>
